/* app/styles/globals.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size: 2.5em;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

input[type='text'] {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #005bb5;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.custom-checkbox input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 0;
}

.custom-checkbox input[type='checkbox'] + span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #0070f3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input[type='checkbox']:checked + span {
  background-color: #0070f3;
  border-color: #0070f3;
}

.custom-checkbox input[type='checkbox']:checked + span::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

li button {
  background-color: #ff0000;
  margin-left: 20px;
}

li button:hover {
  background-color: #cc0000;
}

@media (max-width: 600px) {
  input[type='text'] {
    width: 224px;
  }
}
