<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create task</title>
</head>
<body>
    <form id="taskForm">
        <input type="text" id="description" name="description" placeholder="Task Description" required>
        <input type="checkbox" id="completed" name="completed">
        <input type="text" id="userId" name="user_id" placeholder="User ID" required>
        <button type="submit">Create Task</button>
      </form>
</body>
</html>